<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Split It!</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "bootstrap.min", "landing-page" %>

    <!-- Custom CSS -->

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- jQuery -->
    <script type="text/javscript" src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javscript" src="/assets/bootstrap.min.js"></script>
</head>
<body>

<div ng-view>
  <%= yield %>
</div>

</body>
</html>